<template name="registration">

  <div class="container">

    <form class="form-register" role="form">
      <h2 class="form-signin-heading">Please register</h2>

      <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">

      <input type="password" class="form-control" placeholder="Password" required="">

      <input type="password" class="form-control confirm-password" placeholder="Confirm password" required="">

      <button class="btn btn-lg btn-block register-btn" type="submit">Submit</button>
    </form>

    <div class="other-links">
      <a href="{{ pathFor 'main' }}">Back</a>
    </div>
  </div> <!-- /container -->


</template>



