.accounts-dialog {
  background-color: #fff;
  border-color: #094258;
  margin: auto;
  color: #094258;
  text-align: center;
}

#login-dropdown-list {
  width: 300px;
}

#login-email-label{
  padding-right: 35px;
}

#login-email {
  width: 200px;
  text-align: right;
}

#login-password {
  width: 200px;
  text-align: right;
}

#login-password-label {
  margin-right: 7px;
}

#login-buttons .login-close-text {
  float: right;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background-color: rgb(0, 103, 114);
}

.btn .btn-lg .btn-default {
  background-color: #F1F2F4;
}

.login-link-text {
  color: #006772;
  text-decoration: none;
}