@import "/packages/font-awesome-4-less/font-awesome.import.less";
@import "/packages/bootstrap3-less/bootstrap.import.less";

body {
  text-align: left;
  width: 100%;
  resize: auto;
  margin: 0;
}

.navbar {
  background: black;
  color: white;
  font-size: 0.8em;
  height: 30px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 8px 0;
  resize: auto;
}

h1 {
  padding-left: 30px;
}

h2 {
  padding-left: 30px;
  font-size: 1.6em;
}

.page-welcome {
  background-position: 0% 0px;
}

