@import "/packages/font-awesome-4-less/font-awesome.import.less";

body {
  font-family: Arial;
  resize: auto;
  margin: 0;
  padding: 40px;
  position: relative;

  .navbar {
    height: 20px;
    float: left;
    background-color: black;
    width: 100%;
    margin: 0;
    position: fixed;
  }
}

.columns {
  float: left;
  text-align: center;
  color: white;
}

.logo {
  float: left;
}