<template name="map">
  {{> navbar }}
  <div id="map-canvas">
  </div>
  <div id="panel">
    <h2>Find a Location</h2>
    <input class="input-field" id="address" type="textbox" autofocus>
    <button type="button" class="btn" id="address">Find</button>
  {{> editMarker}}
  </div>

  {{> infoWindow}}
<!--   {{> infoWindowShow}} -->
</template>


<template name="editMarker">
  <div>
    <div class="edit-marker">
      <button class="btn" id="saveMarker">Save Pin</button>
    </div>
  </div>
</template>

<template name="infoWindow">
  <div id="content_source" style="display: none;">
    <form action="#" id="infoWindow_form">
      <fieldset>
        <legend>Location</legend>
        <div class="form-group">
          <label for="location">Location: </label>
          <input type="text" id="location content" name="location" value="" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="textarea" id="description content" name="description" value="" class="form-control">
        </div>
        <div class="location-images">
          <p>Images</p>
        </div>
      </fieldset>
      <input id="content-send" type="submit" value="Send">
    </form>
  </div>
</template>

<template name="infoWindowShow">
  <div id="content_sourceShow" style="display: none;">
    {{#each allContent}}
      {{> content}}
    {{/each }}
  </div>
</template>

<!-- <template name="content">
  <div class="content">
    <div class="location">
      {{ location }}
    </div>
    <div class="description">
      {{ description }}
    </div>
    <div class="location-images">
      <p>Images</p>
    </div>
  </div>
</template>
 -->