<template name="map">
  {{> navbar }}
  <div id="map-canvas">
  </div>
  <div id="panel">
    <h2>Find a Location</h2>
    <input class="input-field" id="address" type="textbox" autofocus>
    <button type="button" class="btn" id="address">Find</button>
  {{> editMarker}}
  </div>

  {{> infoWindow}}
</template>


<template name="editMarker">
  <div>
    <div class="edit-marker">
      <button class="btn" id="createMarker">Save Pin</button>
    </div>
  </div>
</template>


<template name="infoWindow">
  <div id="content_source" style="display: none;">
    <fieldset>
      <legend>Location</legend>
      <div class="form-group">
        <label for="location">Location: </label>
        <input type="text" id="location" name="location" value="" class="form-control">
      </div>
      <div class="form-group">
        <label for="address">Description</label>
        <input type="textarea" id="description" name="description" value="" class="form-control">
      </div>
      <div class="location-images">
        <p>Images</p>
      </div>
    </fieldset>
    {{> editMarker}}
  </div>
</template>