<head>
  <title>inMotion</title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoXPNILPDUYhoJxvLw-mp0EA5RC2qoqTQ">
    </script>
</head>

<template name="main">
  <h1>inMotion</h1>

    <p class="lead">Welcome to inMotion. A place where you can share your journeys whilst exploring the globe. Upload images, routes, cost and duration and share it amongst your friends and family.</p>
    <p class="lead">
      <a href={{pathFor 'login'}} class="btn btn-lg btn-default">Login</a>
      <a href={{pathFor 'registration'}} class="btn btn-lg btn-default">Sign Up</a>
    </p>

</template>